<%= render "devise/shared/user_header"%>
<div class="user-contents row">
  <div class="container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :nickname %> <em>(最大15文字)</em><br />
        <%= f.text_field :nickname, autofocus: true, maxlength: "15", autocomplete: "nicnickname", class:"input-bar" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email", class:"input-bar" %>
      </div>

      <div class="field">
        <%= f.label :phone_number %> <br />
        <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class:"input-bar" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>現在確認中です。: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(変更したくない場合は空白のままにします)</i><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"input-bar" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input-bar" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(変更を確認するには、現在のパスワードが必要です)</i><br/>
        <%= f.password_field :current_password, autocomplete: "current-password", class:"input-bar" %>
      </div>

      <div class="actions">
        <%= f.submit "保存", class:"login-btn" %>
      </div>
      <%= link_to "戻る", :back, class:'back-btn' %>
      <p>アカウントを削除されたい場合はこちら<%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "タスク情報も削除されます。よろしいですか？" }, method: :delete, class:'acount-delete-btn' %></p>
    <% end %>
  </div>
</div>
  <%= render "devise/shared/user_footer"%>