<div class="side">
  <div class="side-header">
    <%= link_to 'Question', new_room_path, method: :get, class:'question-btn' %>
  </div>
  <div class="side-bar">
    <% current_user.rooms.each do |room| %>
      <div class="room-contents">
        <%= link_to room_problems_path(room), method: :get, class:'room-selector' do %>
          <div class="room-status">
            <%= room.room_name %>
          </div>
          <% room.room_users.each do |room_user|%>
            <% if room_user.user_id != current_user.id %>
              <div class="room-status">
                相談者: <%= room_user.user.nickname%>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to room_path(room.id), method: :delete, class:'room-delete' do %>
          <div class="room-delete-btn"></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>