<div class="contents">
  <div class="main">
    <%= render "header"%>
    <div class="center">
      <% weekday_char = ["日","月","火","水","木","金","土"] %>
      <% @tasks.each do |task| %>
        <% alone_day = @tasks.group(:runtime) %>
        <% if alone_day.include?(task.id)%>
          <div>
            <span class="day-border">
              <%= task.runtime.month %>月
              <%= task.runtime.day %>日
              (<%= weekday_char[task.runtime.wday] %>)

            </span>
          </div>
        <% end %>
        <div class="task" data-id=<%= task.id %> data-check=<%= task.checked %>>
          <div class="task-status">
            日付： <%= task.runtime.month %>月
            <%= task.runtime.day %>日
            (<%= weekday_char[task.runtime.wday] %>)
          </div>
          <div class="task-status">
            時間：  <%= 0 if task.runtime.hour < 10%><%= task.runtime.hour %>
            : <%= 0 if task.runtime.min < 10 %><%= task.runtime.min %>
          </div>
          <div class="task-status">
            場所： <%= task.place %>
          </div>
          <hr>
          <div class="task-contents">
            <%= safe_join(task.todo.split("\n"), tag(:br)) %>
          </div>
          <div class="task-edit">
            <div>
              <%= link_to '編集', edit_task_path(task.id), method: :get,class:"task-edit-btn" %>
            </div>
            <div>
              <%= link_to '削除', task_path(task.id), method: :delete,class:"task-edit-btn" %>
            </div>
          </div>
        </div>
      <% end %>
      
    </div>
    <div class="footer">
      <a class="add-task-btn" href="/tasks/new">タスク作成</a>
    </div> 
  </div>
  <%= render "side"%>
</div>