<div class="contents">
  <div class="main">
    <%= render "header"%>
    <%= form_with model:@task, local: true do |f|%>
    <% current_time = Time.now %>
      <div class="center">
        <div class="f-label">
          日時
        </div>
        <%= f.text_field :runtime, class:'f-content', placeholder: "例）2020-10-1 10:00", value:current_time.strftime('%Y-%-m-%-d %H:%M'), id:"runtime" %>
        <div class="f-label">
          場所
        </div>
        <%= f.text_field :place, class:'f-content', placeholder: "例）デパ地下で", id:"place" %>
        <div class="f-label">
          内容
        </div>
        <%= f.text_area :todo, class:'f-content', placeholder: "例）惣菜を買う", id:"todo", rows:"15" %>
      <div class="start-btn" id="start-btn">START</div>
      <div class="stop-btn" id="stop-btn" style="display: none;">STOP</div>
      </div>
      <div class="footer">
        <%=f.submit '作成', class:"add-task-btn" %>
      </div> 
    <% end %>
  </div>
  <%= render "side"%>
</div>
